<link rel="stylesheet" type="text/css" media="screen"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"
        rel="stylesheet">
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script
    src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    
    <script src="/assets/js/cities.js"></script>
<style>
    body {
        background-color: #fefefe;
    }

    .showdetail {
        background: white;
        width: 40%;
        top: 0;
        /* margin-top: 1%; */
        left: 0;
        right: 0;
        float: center;
        float: right;
        padding: 15px 21px;
        /* text-align: center; */
        margin-right: 0%;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

    svg {
        max-width: 25%;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
    }

    svg .st0 {
        fill: #3D3D3D;
    }

    svg .st1 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FF6666;
    }

    svg .st2 {
        fill: #3AACE8;
    }

    svg .st3 {
        fill: #FF6666;
    }



    #a {
        animation: a 5s ease-in-out infinite;
    }

    @keyframes a {
        0% {
            transform: translate(-50%, -50%) rotate(0);
        }

        2.5% {
            transform: translate(-50%, -50%) rotate(5deg) scale(1.1);
        }

        5% {
            transform: translate(-50%, -50%) rotate(0) scale(1.1);
        }

        7.5% {
            transform: translate(-50%, -50%) rotate(5deg) scale(1.1);
        }

        10% {
            transform: translate(-50%, -50%) rotate(0) scale(1);
        }

        100% {
            transform: translate(-50%, -50%) rotate(0);
        }
    }

    /* width */
    ::-webkit-scrollbar {
        width: 1px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 6px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #1F5AB0;
        border-radius: 6px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #1F5AB0;
    }
    img {
        width: 45%;
        height: 77%;
        position: absolute;
        margin: 2%;
        margin-top: 3%;
        margin-left: -5%;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous" />
<a href="/"><button class="button button-primary">Back</button></a>
<img src="/assets/images/logo.png">

<div class="showdetail" style="height: 102%;">
    <form action="/booking/insert" method="post">
       
        <input type="text" name="fname" placeholder="Enter Name" size="50" required><br>
        <input type="email" name="email" placeholder="Enter Email" size="50" required><br>
        <input type="text" name="mobile" placeholder="Enter Mobile" size="50" required><br>
        <input type="text" name="location" placeholder="Enter Venue Adress" size="50" required><br>
        <input type="text" name="address1" placeholder="Enter Adress Line 1" size="50" required><br>
        <input type="text" name="address2" placeholder="Enter Adress Line 2" size="50" required><br>
        <select onchange="print_city('state', this.selectedIndex);" id="sts" name="stt" class="form-control" required></select><br>
        <select id="state" name="city" class="form-control" required></select><br>
        <script language="javascript">print_state("sts");</script>
        <input type="number" name="pincode" class="form-control col-md-4" placeholder="Enter Pincode">
       <select name="event" id="event" class="form-control col-md-4"></select><br>
       <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' name="datetime" class="form-control col-md-4" placeholder="Pick Date & Time"
                            style="margin-left: -27%;" />
                        <span class="input-group-addon" style="position: absolute;
        margin-left: 73%;
        width: 19%;
        height: auto;
        padding: 6%;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
        </div>
    </div>
        <input type="submit" class="btn btn-info"  value="submit">
    </form>

</div>

<Script>
    $.getJSON("/admindashboard/allevent", data => {
        project = data;
        console.log(data);
        fillDropDown("event", data, "Choose Event", 0);
    });



    function fillDropDown(id, data, label, selectedid = 0) {
        $(`#${id}`).empty();
        $(`#${id}`).append(
            $("<option>")
                .val("null")
                .text(label)
        );
        $.each(data, (i, item) => {
            if (item.id == selectedid) {
                $(`#${id}`).append(
                    $("<option selected>")
                        .val(item.id)
                        .text(item.id)
                );
            } else {
                $(`#${id}`).append(
                    $("<option>")
                        .val(item.id)
                        .text(item.eventname)
                );
            }
        });
    };



       $.getJSON("/admindashboard/allstate", data => {
            project = data;
            console.log(data);
            fillDropDown1("state", data, "Choose State", 0);
        });

        function fillDropDown1(id, data, label, selectedid = 0) {
            $(`#${id}`).empty();
            $(`#${id}`).append(
                $("<option>")
                    .val("null")
                    .text(label)
            );
            $.each(data, (i, item) => {
                if (item.id == selectedid) {
                    $(`#${id}`).append(
                        $("<option selected>")
                            .val(item.id)
                            .text(item.id)
                    );
                } else {
                    $(`#${id}`).append(
                        $("<option>")
                            .val(item.id)
                            .text(item.state)
                    );
                }
            });
        };



</Script>
