<html>

<head>
	<title>Booking Show</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
		integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
	<div class="bootom">
		<ul>
			<a href="/">
				<li class="logo">Partee Makerzz</li>
			</a>
			<a href="/booking">
				<li>Show-Booking</li>
			</a>
			<a href="/">
				<li>Home</li>
			</a>
		</ul>
	</div>
	<div class="message">
		<h3>Welcome to Partee Makerzz</h3>
		<a href="/booking"><input type="submit" class="button" value="Book Now"></a>
	</div>

	<script src='js/anime.min.js'></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/main.js"></script>
</body>

</html>